body{
    margin: 0;
}

.hdr , .main , .ftr{
    max-width: 600px;
    /* border: 2px black solid; */
    margin: 0 auto;
    padding: 20px 0;
}

header ,  footer{
    background-color:#C6A969 ;
}

img{
    height: auto;
    max-width: 600px;
}

#btn1 , #btn2{
    border: none;
    padding: 10px 20px;
}

#btn1{
    background-color: #776B5D;
    color: white;
}